body {
  width:auto;

}

header {
  color:lime;
}
ul,ol {
  color:blue;
}
footer {
  color:lime;
}
.myName {
  background-color: blue;
  width: 50%
  float: left;
  text-align: center;
}
.bio {
  color:blue;
  width: 50%;
}
